
<div class="main-content">
  <div class="card">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img style="width: 100%; height: 100%;" src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/75392744_970150183384377_4044789428147716096_o.jpg?_nc_cat=107&ccb=2&_nc_sid=8bfeb9&_nc_ohc=Ep63-zU-tC0AX_YOQvq&_nc_ht=scontent-xsp1-2.xx&oh=5dc15b15f3b54a64dd17be04d749be60&oe=5FE4FD5B" alt="John">

      </div>
      
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1>{{user.name}}</h1>
        <label>Giới thiệu</label>
    <p class="title">{{user.gioithieu}}</p>
    <p>Harvard University</p>
    <a><i class="fa fa-dribbble"></i></a>
    <a><i class="fa fa-twitter"></i></a>
    <a><i class="fa fa-linkedin"></i></a>
    <a><i class="fa fa-facebook"></i></a>
    <br>
   <a href="/login"> <button type="button" class="btn btn-primary" >Đăng xuất</button></a>
    
      </div>
    </div>
  </div>
  <form action="" method="POST" role="form" style="width: 70%;">
    <legend style="font-weight: bold;">Thông tin tài khoản</legend>
    <div class="form-group">
      <label for="">Tên</label>
      <input type="text" class="form-control" id="" placeholder="{{user.name}}">
      <label for="">Giới thiệu</label>
     <textarea name="" id="input" class="form-control" rows="3" placeholder="{{user.gioithieu}}" ></textarea>
      <label for="">Địa chỉ</label>
      <input type="text" class="form-control" id="" placeholder="{{user.diachi}}">
      <label for="">Email</label>
      <input type="text" class="form-control" id="" placeholder="{{user.email}}">
      <label for="">Số điện thoại</label>
      <input type="text" class="form-control" id="" placeholder="{{user.sdt}}">
    </div>
    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
  </form>
  
</div>