@import "../../@theme/styles/themes";

::ng2-smart-table tbody  tr.ng2-smart-row.selected
{ background:lightblue !important; border:1px solid blue;}

  nb-card {
    transform: translate3d(0, 0, 0);
  }

.container{
  width: 1200px;
  background-color: rgb(234,238,244);
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
  }
  .main-body {
    padding: 15px;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  
  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }
  .mb-3, .my-3 {
    margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
    background-color: #e2e8f0;
  }
  .h-100 {
    height: 100%!important;
  }
  .shadow-none {
    box-shadow: none!important;
  }
}
  // .container-card-song{

  
  //   @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

  //   @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
    
  //   *, *:before, *:after {
  //     box-sizing: border-box;
  //   }
    
  //   body {
  //     background: #43423E;
  //   }
    
  //   a {
  //     text-decoration: none;
  //     color: #5C7FB8
  //   }
    
  //   a:hover {
  //     text-decoration: underline;
  //   }
    
  //   .movie-card {
  //     font: 14px/22px "Lato", Arial, sans-serif;
  //     padding: 40px 0;
  //     background-color: #ff793f;
  //     .card-child{
  //       background-color: #67e6dc;
  //     }
  //   }
    
  //   .container {
  //     margin: 0 auto;
  //     width: 780px;
  //     height: 600px;
  //     background: #f7f1e3;
  //     border-radius: 5px;
  //     position: relative;
  //   }
    
  //   .hero {
  //     height: 300px;  
  //     margin:0;
  //     position: relative;
  //     overflow: hidden;
  //     z-index:1;
  //     border-top-left-radius: 5px;
  //     border-top-right-radius: 5px;
        
  //   }
    
  //   .hero:before {
  //     content:'';
  //     width:100%; height:100%;
  //     position:absolute;
  //     overflow: hidden;
  //     top:0; left:0;
  //     background:#78e08f;      
  //     z-index:-1;
     
  //     // transform: skewY(-3deg);
  //     transform-origin:0 0;
      
  //     //chrome antialias fix
  //     -webkit-backface-visibility: hidden; 
      
  //   }
    
  //   .cover {
  //     border-radius: 10px;
  //     position: absolute;
  //     top: 130px;
  //     left: 40px;
  //     z-index: 2;
  //   }
    
  //   .details {
      
  //     padding: 120px 0 0 280px;
      
      
  //     .title1 {
  //       color: white;
  //       font-size: 35px;
  //       margin-bottom: 13px;
  //       position: relative;
        
  //       span {
  //         position: absolute;
  //         top: 3px;
  //         margin-left: 12px;
  //         background: #C4AF3D;
  //         border-radius: 5px;
  //         color: #544C21;
  //         font-size: 14px;
  //         padding: 0px 4px;
          
  //       }
  //     }
    
  //     .title2 {    
  //       color: #b86200;
  //       font-size: 23px;    
  //       font-weight: 300;
  //       margin-bottom: 15px;
  //     }
      
  //     .infor{
  //       color: #000;
  //     }
  //     .likes {
  //       margin-left: 24px;
  //     }
      
      
  //     .likes:before {

  //       //content: url("https://www.pinclipart.com/picdir/big/87-877828_save-the-heart-by-ofirma85-instagram-like-icon.png");
  //       position: relative;
  //       padding-right: 7px;
  //     }
    
  //   }
    
  //   .description {
  //    // background-color: #000;
  //     bottom: 0px;
  //     height: 210px;
  //     font-size: 16px;
      
      
      
  //   }
    
  //   .column1 {
  //    // background-color: #ff793f;
  //     padding-left: 50px;
  //     padding-top: 120px;
  //     width: 220px;
  //     float: left;
  //     text-align: center;
  //   }
    
  //   .tag {
  //     background: white;
  //     border-radius: 10px;
  //     padding: 1px 8px;
  //     font-size: 14px;
  //     margin-right: 4px;
  //     line-height: 35px;
  //     cursor: pointer;
  //   }
    
  //   .tag:hover {
  //     background: #ddd;
  //   }
    
  //   .column2 {
  //     background-color: #ffffff;
  //     border: 4px solid #45aaf2;
  //     padding-left: 50px;
  //     padding-top: 20px;
  //     margin-left: 25px;
  //     width: 505px;
  //     float: left;
  //   }
    
  //   .avatars {
  //     float: right;
  //     margin-top: 23px;
      
  //     img {
  //       border-radius: 3px;
  //       margin: 5px;
  //       width: 75px;
  //       height: 75px;
  //       cursor: pointer;
  //     }
      
  //     img:hover {
  //       opacity: 0.6;
  //     }
      
  //     a:hover {
  //       text-decoration: none;
  //     }
  //   }
    
  //   //star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/
    
  //   fieldset, label { margin: 0; padding: 0; }
    
  //   /****** Style Star Rating Widget *****/
    
  //   .rating { 
  //     border: none;
  //     float: left;
  //   }
    
  //   .rating > input { display: none; } 
  //   .rating > label:before { 
  //     margin: 5px;
  //     margin-top: 0;
  //     font-size: 1em;
  //     font-family: FontAwesome;
  //     display: inline-block;
  //     content: "\f005";
  //   }
    
  //   .rating > .half:before { 
  //     content: "\f089";
  //     position: absolute;
  //   }
    
  //   .rating > label { 
  //     color: #ddd; 
  //    float: right; 
  //   }
    
  //   /***** CSS Magic to Highlight Stars on Hover *****/
    
  //   .rating > input:checked ~ label, /* show gold star when clicked */
  //   .rating:not(:checked) > label:hover, /* hover current star */
  //   .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
    
  //   .rating > input:checked + label:hover, /* hover current star when changing rating */
  //   .rating > input:checked ~ label:hover,
  //   .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  //   .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
    
  //   //tooltip stuff via: https://codepen.io/peiche/pen/JaftA
    
  //   a[data-tooltip] {
  //     position: relative;
  //   }
  //   a[data-tooltip]::before,
  //   a[data-tooltip]::after {
  //     position: absolute;
  //     display: none;
  //     opacity: 0.85;
  //   }
  //   a[data-tooltip]::before {
  //     /*
  //      * using data-tooltip instead of title so we 
  //      * don't have the real tooltip overlapping
  //      */
  //     content: attr(data-tooltip);
  //     background: #000;
  //     color: #fff;
  //     font-size: 13px;
  //     padding: 5px;
  //     border-radius: 5px;
  //     /* we don't want the text to wrap */
  //     white-space: nowrap;
  //     text-decoration: none;
  //   }
  //   a[data-tooltip]::after {
  //     width: 0;
  //     height: 0;
  //     border: 6px solid transparent;
  //     content: '';
  //   }
    
  //   a[data-tooltip]:hover::before,
  //   a[data-tooltip]:hover::after {
  //     display: block;
  //   }
    
  //   /** positioning **/
    
  //   /* top tooltip */
  //   a[data-tooltip][data-placement="top"]::before {
  //     bottom: 100%;
  //     left: 0;
  //     margin-bottom: 40px;
  //   }
  //   a[data-tooltip][data-placement="top"]::after {
  //     border-top-color: #000;
  //     border-bottom: none;
  //     bottom: 50px;
  //     left: 20px;
  //     margin-bottom: 4px;
  //   }
  // }