<div class="main-content">
    
  
  <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <app-playlist-card [id]="1"></app-playlist-card>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
       <app-playlist-card [id]="2"></app-playlist-card>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <app-playlist-card [id]="3"></app-playlist-card>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <app-playlist-card [id]="4"></app-playlist-card>
    </div>
  </div>
  
</div>