
<div class="container">
    <div class="media-footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
           {{ player.state?.readableCurrentTime }}
           <mat-slider class="time-slider" min="0" [max]="player.state?.duration" step="1" [value]="player.state?.currentTime" (input)="player.onSliderChangeEnd($event)" [disabled]="player.state?.error || player.currentFile.index === undefined"></mat-slider>
           {{ player.state?.readableDuration }}
        </mat-toolbar-row>
        <mat-toolbar-row cols="2" class="media-action-bar">
  
            <button mat-button [disabled]="player.isFirstPlaying()" (click)="player.previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="player.play()" [disabled]="player.state?.error" *ngIf="!player.state?.playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="player.pause()" *ngIf="player.state?.playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>
            <button  mat-button [disabled]="player.isLastPlaying()" (click)="player.next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
  
          <span class="spacer"></span>
          <mat-icon>volume_up</mat-icon>
          <mat-slider class="time-slider" min="0" max="1" step="0.01" [value]="player.state?.volume" (input)="player.onVolumeChange($event)"></mat-slider>
         
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>