.container {
    .main-toolbar {
      justify-content: center;
      .spacer {
        flex: 1 1 auto;
      }
      .toolbar-btn {
        font-size: 16px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    .media-footer {
      position: fixed;
      display: flex;
      //padding-bottom: 10px;
      bottom: 0;
      left: 0;
      height: 10%;
      width: 100%;
      margin-right: 10px;
      .spacer {
        width: 100%;
      }
      .time-slider {
        width: 100% !important;
        margin-left: 20px;
        margin-right: 20px;
      }
      .media-action-bar {
        padding-left: 40%;
        width: 100%;
        padding-bottom: 20px;
        justify-content: center;
        .mat-icon {
          padding-left: -100px;
          margin: 10px;
         margin-bottom: 70px;;
          font-size: 48px !important;
        }
      }
    }
  }