<nb-card-header>
  <span>Thông kê bài hát đã thêm</span>
  <nb-select [selected]="type" (selectedChange)="changePeriod($event)">
    <nb-option *ngFor="let period of types" [value]="period">{{ period }}</nb-option>
  </nb-select>
</nb-card-header>
