@import "../../@theme/styles/themes";

// ::ng2-smart-table tbody tr.ng2-smart-row.selected {
//   background: lightblue !important;
//   border: 1px solid blue;
// }

nb-card {
  transform: translate3d(0, 0, 0);
}
.container {
  background-color: #f7f1e3;
  width: 1200px;
  height: 650px;
  .avatar-detail {
    //background-color: red;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    .thumbnail {
      //background-color: chocolate;
      border: 4px solid #45aaf2;
      //margin-left: 20px;
      width: 100%;
      height: 50%;
      .cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        //left: 40px;
      }
    }
    .infor {
      // background-color: darkmagenta;
      padding: 10px;
      width: 100%;
      height: 47%;
      .likes {
        margin-left: 5px;
      }
    }
  }
  .list-song {
    margin-top: 10px;
    //background-color: chartreuse;
    width: 100%;
    height: 96%;
    .list-detail-song {
      width: 100%;
      height: 680px;
    }
  }
}


// .container-card-song {
//   @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

//   @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

//   *,
//   *:before,
//   *:after {
//     box-sizing: border-box;
//   }

//   body {
//     background: #43423e;
//   }

//   a {
//     text-decoration: none;
//     color: #5c7fb8;
//   }

//   a:hover {
//     text-decoration: underline;
//   }

//   .movie-card {
//     font: 14px/22px "Lato", Arial, sans-serif;
//     color: #a9a8a3;
//     padding: 40px 0;
//   }

//   .container {
//     margin: 0 auto;
//     width: 880px;
//     height: 500px;
//     background: #f0f0ed;
//     border-radius: 5px;
//     position: relative;
//   }

//   .hero {
//     height: 300px;
//     margin: 0;
//     position: relative;
//     overflow: hidden;
//     z-index: 1;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//   }

//   .hero:before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     overflow: hidden;
//     top: 0;
//     left: 0;
//     background: rgb(19, 182, 194);
//     z-index: -1;

//     // transform: skewY(-3deg);
//     transform-origin: 0 0;

//     //chrome antialias fix
//     //-webkit-backface-visibility: hidden;
//   }

//   .list-song {
//     float: right;
//     margin-top: 23px;
//     .table-song {
//       width: 100px;
//     }
//     img {
//       border-radius: 3px;
//       margin: 5px;
//       width: 75px;
//       height: 75px;
//       cursor: pointer;
//     }

//     img:hover {
//       opacity: 0.6;
//     }

//     a:hover {
//       text-decoration: none;
//     }
//   }
//   .cover {
//     width: 220px;
//     height: 220px;
//     border-radius: 10px;
//     position: absolute;
//     top: 20px;
//     left: 40px;
//     // z-index: 2;
//   }

//   .details {
//     padding: 20px 0 0 280px;

//     .title1 {
//       color: white;
//       font-size: 35px;
//       margin-bottom: 13px;
//       position: relative;

//       span {
//         position: absolute;
//         top: 3px;
//         margin-left: 12px;
//         background: #c4af3d;
//         border-radius: 5px;
//         color: #544c21;
//         font-size: 14px;
//         padding: 0px 4px;
//       }
//     }

//     .title2 {
//       color: #f1c18a;
//       font-size: 23px;
//       font-weight: 300;
//       margin-bottom: 15px;
//     }

//     .infor {
//       color: #000;
//     }
//     .likes {
//       margin-left: 24px;
//     }

//     .likes:before {
//       //content: url("https://www.pinclipart.com/picdir/big/87-877828_save-the-heart-by-ofirma85-instagram-like-icon.png");
//       position: relative;
//       padding-right: 7px;
//     }
//   }

//   .description {
//     bottom: 0px;
//     height: 200px;
//     font-size: 16px;
//     line-height: 26px;
//     color: #b1b0ac;
//   }

//   .column1 {
//     padding-left: 50px;
//     padding-top: 20px;
//     width: 300px;
//     float: left;
//     // text-align: center;
//   }

//   .tag {
//     background: white;
//     border-radius: 10px;
//     padding: 1px 8px;
//     font-size: 14px;
//     margin-right: 4px;
//     line-height: 35px;
//     cursor: pointer;
//   }

//   .tag:hover {
//     background: #ddd;
//   }

//   .column2 {
//     padding-left: 41px;
//     padding-top: 30px;
//     margin-left: 20px;
//     width: 480px;
//     float: left;
//   }

//   //star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

//   fieldset,
//   label {
//     margin: 0;
//     padding: 0;
//   }

//   /****** Style Star Rating Widget *****/

//   .rating {
//     border: none;
//     float: left;
//   }

//   .rating > input {
//     display: none;
//   }
//   .rating > label:before {
//     margin: 5px;
//     margin-top: 0;
//     font-size: 1em;
//     font-family: FontAwesome;
//     display: inline-block;
//     content: "\f005";
//   }

//   .rating > .half:before {
//     content: "\f089";
//     position: absolute;
//   }

//   .rating > label {
//     color: #ddd;
//     float: right;
//   }

//   /***** CSS Magic to Highlight Stars on Hover *****/

//   .rating > input:checked ~ label, /* show gold star when clicked */
//     .rating:not(:checked) > label:hover, /* hover current star */
//     .rating:not(:checked) > label:hover ~ label {
//     color: #ffd700;
//   } /* hover previous stars in list */

//   .rating > input:checked + label:hover, /* hover current star when changing rating */
//     .rating > input:checked ~ label:hover,
//     .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
//     .rating > input:checked ~ label:hover ~ label {
//     color: #ffed85;
//   }

//   //tooltip stuff via: https://codepen.io/peiche/pen/JaftA

//   a[data-tooltip] {
//     position: relative;
//   }
//   a[data-tooltip]::before,
//   a[data-tooltip]::after {
//     position: absolute;
//     display: none;
//     opacity: 0.85;
//   }
//   a[data-tooltip]::before {
//     /*
//        * using data-tooltip instead of title so we
//        * don't have the real tooltip overlapping
//        */
//     content: attr(data-tooltip);
//     background: #000;
//     color: #fff;
//     font-size: 13px;
//     padding: 5px;
//     border-radius: 5px;
//     /* we don't want the text to wrap */
//     white-space: nowrap;
//     text-decoration: none;
//   }
//   a[data-tooltip]::after {
//     width: 0;
//     height: 0;
//     border: 6px solid transparent;
//     content: "";
//   }

//   a[data-tooltip]:hover::before,
//   a[data-tooltip]:hover::after {
//     display: block;
//   }

//   /** positioning **/

//   /* top tooltip */
//   a[data-tooltip][data-placement="top"]::before {
//     bottom: 100%;
//     left: 0;
//     margin-bottom: 40px;
//   }
//   a[data-tooltip][data-placement="top"]::after {
//     border-top-color: #000;
//     border-bottom: none;
//     bottom: 50px;
//     left: 20px;
//     margin-bottom: 4px;
//   }
// }
