.form-group {
  height: 70px;
}

.parentCon {

}
.card-login {
border: solid 2px black;
border-radius: 10px;
  background-color: #f7f1e3;
  width: 35%;
  margin-left: 30%;
  margin-top: 200px;
}
.masterCon{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  //height: 100vh;
  background-image: url("./BackgroundVip5.jpg");
  //background-color: black !important;
}
.conErr{
  text-align: center;
    height: 60px;
}
