<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login BigBlueBỉds</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="https://cdn4.iconfinder.com/data/icons/artcore/512/songbird.png" alt="IMG">
				</div>


                <form [formGroup]="loginForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
                    <b class="login100-form-title">
						Đăng nhập hệ thống quản lí BigBlueBirds
					</b>
                    <div class="form-group">
                        <!-- <label for="username">Tài khoản</label> -->
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>

                            <input type="text" formControlName="username" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        </div> -->
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
                            <input type="text" class="input100" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Tài khoản" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>


                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>

                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        </div> -->

                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            <input class="input100" type="password" formControlName="password" placeholder="Mật khẩu"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="conErr">
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                    

                    <div class="container-login100-form-btn">
						
                        <button [disabled]="loading" class="login100-form-btn" style="width: 100%;">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Đăng nhập
                        </button>
					</div>
                    
                    <div class="text-center p-t-12">
						<span class="txt1">
							Quên
						</span>
						<a class="txt2" href="#">
							Tài khoản / Mật khẩu?
						</a>
					</div>
                </form> 

				
			</div>
		</div>
	</div>
	
	

	
	<script src="./vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="./vendor/bootstrap/js/popper.js"></script>
	<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="./vendor/select2/select2.min.js"></script>
	<script src="./vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="./js/main.js"></script>

</body>
</html>