::placeholder{
    color: black;
    font-size: 20px;;
  opacity: 1;
}
input
{
    border-radius: 10px;
}
.btn
{
    border-radius: 10px;
   height: 40px;
   width: 100px;
   padding-top: 10px;
   margin-top: -3px;
}