@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    min-width: 1000px;
    min-height: 500px;
  }
  .font-row {
    &:first-child {
      margin-bottom: 2rem;
    }

    .header {
      align-items: baseline;
    }

    p {
      margin: 0;
    }
  }

  .headings-card {
    h1 {
      margin: 0;
    }

    .header {
      padding-bottom: 0.675rem;
      margin-bottom: 0.675rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid nb-theme(divider-color);

    &:last-child {
      border-bottom: none;
    }

    div:first-child {
      flex: 2;
      -ms-flex: 2 1 auto;
      line-height: 1;
      align-items: flex-end;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }

    .variants {
      flex: 1;
      -ms-flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      span {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }

    .detail {
      flex: 1;
      display: flex;
    }
  }

  .colors {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .color {
      width: 86px;
      height: 60px;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.25rem;
    }
  }

  .text-link {
    color: nb-theme(link-text-color);
  }

  .bg-link {
    background: nb-theme(link-text-color);
  }

  .bg-heading {
    background: nb-theme(text-basic-color);
  }

  .bg-body {
    background: nb-theme(text-basic-color);
  }

  .bg-hint {
    background: nb-theme(text-hint-color);
  }

  .bg-link {
    background: nb-theme(link-text-color);
  }

  @each $status in nb-get-statuses() {
    .bg-status-#{$status} {
      background: nb-theme(text-#{$status}-color);
    }
  }
}

